@model IEnumerable<CadernetaVacinal.Models.Vacina>

@{
    ViewData["Title"] = "Vacinas";
}

<h1>Vacinas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Inserir Dados</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacinaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeVacina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVacinação)
            </th>
                        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacinaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeVacina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVacinação)
            </td>
            
            <tr>
                <td colspan="6">

                    <a asp-action="Edit" asp-route-id="@item.VacinaId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VacinaId" class="btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.VacinaId" class="btn btn-danger">Deletar</a>

                </td>
            </tr>
            
        </tr>
}
    </tbody>
</table>
